$fg-color: #f0f0f0;
$muted-color: #b0b0b0;
$radius-main: 13px;

body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.button-link {
     background:none!important;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     //border-bottom:1px solid #444; 
     cursor: pointer;
}

.button-link:hover {
	color: #444;
	border-bottom:1px solid #444;
}

a, .button-link {
  color: #008FFF;
}

ul {
	list-style-type: none;
}

nav {
	padding: 0 10% 0 10%;
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li {
		display: inline-block;
		padding: 1em;
	}

	.site-nav {
		float: left;
	}

	.user-nav {
		float: right;
	}
}

.nav-row {
	margin-bottom: 3em;
	background-color: $fg-color;
	border-radius: $radius-main;
	padding: 20px 0;
}

.container {
	margin: 1em auto;
	width: 99%;

	max-width: 1400px;
}

.checklist-box {
	border-radius: $radius-main;
	background-color: $fg-color;
	min-height: 30em;
	max-height: 40em;
	overflow-y: scroll;

	ul {
		padding: 1.5em;
		list-style-type: none;

		.checklist-item {
			.glyphicon {
				float: left;
				margin-right: 1em;
				padding: 0.5em 0;
			}

			.checklist-input {
				box-sizing: border-box;
				width: 80%;
				border: none;
				border-bottom: 1px solid #CCC;
				padding: 0.5em;
				background-color: $fg-color;
			}

			.checklist-input:focus {
				outline-width: 0;
			}

			button {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;

				opacity:0; 
				filter:alpha(opacity=0);
			}
		}
	}

	.checked * {
		// opacity:0.8; 
		// filter:alpha(opacity=0.8);
		color: $muted-color;
	}

	.checked, .unchecked {
		width: 50%;
		float: left;
	}

	.unchecked {
		.glyphicon-ok {
			color: $fg-color;
		}

		.glyphicon-plus {
			color: $muted-color;
		}
	}
}

.checklist-box.dynamic {
	ul {
		.checklist-item {
			.glyphicon-remove {
				float: right;
				color: $muted-color;
			}

			.glyphicon-remove:hover {
				color: black;
			}
		}
	}

	.glyphicon:hover {
		// opacity:1; 
		// filter:alpha(opacity=1);

		color: black;
	}
}

input:disabled, textarea:disabled {
	cursor: text !important;
}

.saved-entries {
	h4 {
		display: inline-block;
	}
	.list-icon {
		margin-right: 0.5em;
		padding: 0.5em 0;
	}

	.initially-hidden {
		display: none;
	}
}

.message {
	display: none;
}

.login-wrapper {
	width: 30em;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid $fg-color;
	border-radius: $radius-main;
	background-color: $fg-color;
	box-sizing: border-box;

	.login-box {
		width: 70%;
		margin: 0 auto;
	}
}

.share, .shared-with {
	ul {
		padding-left: 1em;
	}

	li {
		padding: 0.2em 0;
	}
}

.shared-with {
	ul {
		button {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			opacity:0; 
			filter:alpha(opacity=0);
		}

		.glyphicon-remove {
			margin-right: 0.5em;
			padding: 0.2em 0;
			color: $muted-color;
		}

		.glyphicon-remove:hover {
		// opacity:1; 
		// filter:alpha(opacity=1);

		color: black;
	}
	}
}

