doctype html
html
	head
		title= title
		//- link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
		
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class='container')
			div(class='container-fluid')
				div(class='row nav-row')
					nav
						ul(class='site-nav')
							li
								a(href='/') Heim
							li
								a(href='/entries') Færslur
							li
								a(href='/users') Notendur
							li 
								a(href='/search') Leita

						ul(class='user-nav')
							if (session.user)
								li
									a(href='/posts/user/' + session.user.id) Mínar færslur
								li
									a(href='/settings') Stillingar
								li
									a(href='/user/' + session.user.id) 
										p= session.user.username
								li
									a(href='/logout') Útskráning
							else
								li
									a(href='/signup') Nýskráning
								li
									a(href='/login') Innskráning
			
			block content

		//- script(src='/bower_components/jquery/dist/jquery.min.js')
		//- script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" crossorigin="anonymous"></script>
