body {
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #008FFF; }

nav {
  padding: 0 10% 0 10%; }
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }
  nav li {
    display: inline-block;
    padding: 1em; }
  nav .site-nav {
    float: left; }
  nav .user-nav {
    float: right; }

.nav-row {
  margin-bottom: 3em;
  background-color: #f0f0f0;
  border-radius: 13px;
  padding: 20px 0; }

.container {
  margin: 1em auto;
  width: 99%;
  max-width: 1200px; }

.checklist-box {
  border-radius: 13px;
  background-color: #f0f0f0;
  min-height: 30em;
  max-height: 40em;
  overflow-y: scroll; }
  .checklist-box ul {
    padding: 1.5em;
    list-style-type: none; }
    .checklist-box ul .checklist-item .glyphicon {
      float: left;
      margin-right: 1em;
      padding: 0.5em 0; }
    .checklist-box ul .checklist-item .glyphicon-remove {
      float: right;
      color: #b0b0b0; }
    .checklist-box ul .checklist-item .glyphicon-remove:hover {
      color: black; }
    .checklist-box ul .checklist-item input {
      box-sizing: border-box;
      width: 80%;
      border: none;
      border-bottom: 1px solid #CCC;
      padding: 0.5em;
      background-color: #f0f0f0; }
    .checklist-box ul .checklist-item input:focus {
      outline-width: 0; }
    .checklist-box ul .checklist-item button {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      filter: alpha(opacity=0); }
    .checklist-box ul .checklist-item .fakesubmit {
      display: none; }
  .checklist-box .checked * {
    color: #b0b0b0; }
  .checklist-box .checked, .checklist-box .unchecked {
    width: 50%;
    float: left; }
  .checklist-box .unchecked .glyphicon-ok {
    color: #f0f0f0; }
  .checklist-box .unchecked .glyphicon-plus {
    color: #b0b0b0; }
  .checklist-box .glyphicon:hover {
    color: black; }

.saved-entries h4 {
  display: inline-block; }

.saved-entries .list-icon {
  margin-right: 0.5em;
  padding: 0.5em 0; }

.saved-entries .initially-hidden {
  display: none; }

.message {
  display: none; }

.login-wrapper {
  width: 30em;
  margin: 0 auto;
  padding: 1em;
  border: 1px solid #f0f0f0;
  border-radius: 13px;
  background-color: #f0f0f0;
  box-sizing: border-box; }
  .login-wrapper .login-box {
    width: 70%;
    margin: 0 auto; }
